*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* /* width: 100%; */
    min-height: 100vh; 
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.container{
    text-align: center;
}
#colourfliper{
    height: 100vh;
    width: 100%;
    
}
button{
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    margin: auto;
}
h1{
    padding: 15px 30px;

}